@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Londrina+Solid:wght@100;300;400;900&family=Quattrocento:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");

@import "tailwindcss";

@theme {
  --color-yellow-50: #fefce8;
  --color-yellow-100: #fff9c2;
  --color-yellow-200: #ffee88;
  --color-yellow-300: #ffde45;
  --color-yellow-400: #fdc913; /* Yellow base */
  --color-yellow-500: #edb005;
  --color-yellow-600: #cd8701;
  --color-yellow-700: #a35f05;
  --color-yellow-800: #874a0c;
  --color-yellow-900: #723d11;
  --color-yellow-950: #431f05;

  --color-gray-50: #f6f6f6;
  --color-gray-100: #e7e7e7;
  --color-gray-200: #d1d1d1;
  --color-gray-300: #b0b0b0;
  --color-gray-400: #888888;
  --color-gray-500: #6d6d6d;
  --color-gray-600: #5f5f5f; /* Gray ligth */
  --color-gray-700: #4f4f4f;
  --color-gray-800: #454545;
  --color-gray-900: #3d3d3d;
  --color-gray-950: #292929; /* Gray dark */
  --color-gray-1000: #1a1a1a; /* Gray dark */

  --color-red-50: #fef2f2;
  --color-red-100: #fde3e3;
  --color-red-200: #fccccc;
  --color-red-300: #f9a8a8;
  --color-red-400: #f47576;
  --color-red-500: #e94a4b;
  --color-red-600: #ce2829; /* Red base */
  --color-red-700: #b42122;
  --color-red-800: #951f20;
  --color-red-900: #7c2021;
  --color-red-950: #430c0c;

  --color-wood-50: #faf7f2; /* Wood base */
  --color-wood-100: #f3ece1;
  --color-wood-200: #e7d8c1;
  --color-wood-300: #d7bd9a;
  --color-wood-400: #c69d71;
  --color-wood-500: #ba8555;
  --color-wood-600: #ac724a;
  --color-wood-700: #8f5c3f;
  --color-wood-800: #744b38;
  --color-wood-900: #5f3e2f;
  --color-wood-950: #321f18;

  --font-barlow: "Barlow", sans-serif;
  --font-quattrocento: "Quattrocento", serif;
  --font-roboto: "Roboto Condensed", sans-serif;
  --font-satisfy: "Satisfy", cursive;
  --font-londrina: "Londrina Solid", sans-serif;

  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --font-weight-1000: 1000;
}

html {
  @apply bg-wood-50;
}
#root {
  @apply flex flex-col min-h-screen;
}

main {
  @apply flex-1;
}
main:has(#success) {
  @apply bg-red-600;
}

footer {
  @apply bg-gray-1000 text-gray-50;
}

.divider {
  @apply h-[1px] w-full my-4;
}
.divider.dark {
  @apply bg-gray-100;
}
.divider.light {
  @apply bg-gray-500;
}

footer address {
  @apply space-y-2;
}

footer address p:has(a) {
  @apply hover:text-yellow-400;
}
footer address p img {
  @apply w-6 h-6 inline-block mr-2;
}

footer .menu-link {
  @apply text-base font-barlow text-gray-50 hover:text-yellow-400 w-fit;
}

.shape {
  @apply absolute -z-20  w-full max-w-1/2 md:max-w-1/4;
}
.shape.one {
  @apply left-0 bottom-0;
}
.shape.two {
  @apply right-0 top-0;
}

.slick-prev:before,
.slick-next:before {
  @apply !text-red-700;
}

.success-message::after {
  content: "";
  @apply absolute bottom-0 left-0 w-full h-[1px] bg-white;
}

a.breadcrumb {
  @apply text-gray-600 font-barlow text-lg mr-1;
}

a.breadcrumb.active {
  @apply font-600 before:content-['-'] before:mr-1 before:text-gray-600 before:font-500 text-red-600;
}
